version: "3.9"

services:
  backend:
    build: ./backend
    container_name: inventory-backend
    ports:
      - "8080:8080"
    environment:
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_DATASOURCE_URL: jdbc:postgresql://db:5432/inventory
      QUARKUS_DATASOURCE_USERNAME: user
      QUARKUS_DATASOURCE_PASSWORD: password
    depends_on:
      - db
    command: sh -c "./wait-for-it.sh db:5432 -- java -jar app.jar"

  frontend:
    build: ./frontend
    container_name: inventory-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: inventory-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inventory
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
